[submodule ".registry"]
	path = .registry
	url = https://github.com/ethanbass/universe
	branch = HEAD
[submodule "chromatographR"]
	path = chromatographR
	url = https://github.com/ethanbass/chromatographR
[submodule "chromConverter"]
	path = chromConverter
	url = https://github.com/ethanbass/chromConverter
[submodule "VPdtw"]
	path = VPdtw
	url = https://github.com/ethanbass/VPdtw
[submodule "ShinyChromViewer"]
	path = ShinyChromViewer
	url = https://github.com/ethanbass/ShinyChromViewer
[submodule "ggtukey"]
	path = ggtukey
	url = https://github.com/ethanbass/ggtukey
[submodule "zerenebatchR"]
	path = zerenebatchR
	url = https://github.com/ethanbass/zerenebatchr
[submodule "msdialreadr"]
	path = msdialreadr
	url = https://github.com/ethanbass/msdialreadr
[submodule "entab"]
	path = entab
	url = https://github.com/ethanbass/entab/tree/master/entab-r
